In [4]:
import pandas as pd

# Path to your Excel file
excel_file = "BookMyShow_Dataset.xlsx"

# Load all sheets (specify engine)
sheets = pd.read_excel(excel_file, sheet_name=None, engine="openpyxl")

# Loop through sheets and save each as CSV
for sheet_name, df in sheets.items():
    csv_file = f"{sheet_name}.csv"   # name file after the sheet
    df.to_csv(csv_file, index=False) # save without row index
    print(f"Saved {csv_file}")

Saved c_user.csv
Saved Movies.csv
Saved Theaters.csv
Saved Screens.csv
Saved Shows.csv
Saved Schedule.csv
Saved Reciepts.csv
Saved Bookings.csv
Saved Seats.csv
Saved Payments.csv
Saved Reviews.csv

In [ ]:
import pymysql
import pandas as pd
import os

# --- MySQL Connection ---
con = pymysql.connect(
    host="localhost",       # or 127.0.0.1
    user="root",            # your MySQL username
    password="",  # your MySQL password
    database="bookmyshow"     # make sure this database already exists
)
cur = con.cursor()

# --- List of CSV files ---
csv_files = [
    "c_user.csv","Movies.csv","Theaters.csv","Screens.csv","Shows.csv","Bookings.csv","Seats.csv","Payments.csv","Reviews.csv","Reciepts.csv","Schedule.csv"
]

# --- Loop through each CSV ---
for file in csv_files:
    # Load CSV into DataFrame
    df = pd.read_csv(file)
    
    # Use filename (without extension) as table name
    table_name = os.path.splitext(os.path.basename(file))[0]
    
    # Create table query (all VARCHAR for simplicity)
    columns = ", ".join([f"`{col}` VARCHAR(255)" for col in df.columns])
    create_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({columns});"
    cur.execute(create_query)
    
    # Insert data row by row
    for _, row in df.iterrows():
        placeholders = ", ".join(["%s"] * len(row))
        insert_query = f"INSERT INTO `{table_name}` VALUES ({placeholders})"
        cur.execute(insert_query, tuple(row))
    
    con.commit()
    print(f"✅ Inserted data from {file} into table `{table_name}`")

# --- Close connection ---
cur.close()
con.close()
print("🎉 All CSVs inserted into MySQL successfully!")

✅ Inserted data from c_user.csv into table `c_user`
✅ Inserted data from Movies.csv into table `Movies`
✅ Inserted data from Theaters.csv into table `Theaters`
✅ Inserted data from Screens.csv into table `Screens`
✅ Inserted data from Shows.csv into table `Shows`
✅ Inserted data from Bookings.csv into table `Bookings`
✅ Inserted data from Seats.csv into table `Seats`
✅ Inserted data from Payments.csv into table `Payments`
✅ Inserted data from Reviews.csv into table `Reviews`
✅ Inserted data from Reciepts.csv into table `Reciepts`
✅ Inserted data from Schedule.csv into table `Schedule`
🎉 All CSVs inserted into MySQL successfully!

In [10]:
import pymysql

# ----------------------
# Connect to MySQL
# ----------------------
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="010824@Symbi",
    database="bookmyshow"
)
cur = conn.cursor()

# ----------------------
# Step 0: Fix Data Types
# ----------------------
dtype_fixes = {
    "c_user": [
        "CHANGE COLUMN user_id user_id VARCHAR(20)",
        "CHANGE COLUMN name name VARCHAR(100)",
        "CHANGE COLUMN email email VARCHAR(100)",
        "CHANGE COLUMN phone_number phone_number VARCHAR(15)",
        "CHANGE COLUMN date_of_birth date_of_birth DATE"
    ],
    "Movies": [
        "CHANGE COLUMN movie_id movie_id VARCHAR(20)",
        "CHANGE COLUMN title title VARCHAR(200)",
        "CHANGE COLUMN genre genre VARCHAR(50)",
        "CHANGE COLUMN language language VARCHAR(50)",
        "CHANGE COLUMN duration duration INT",
        "CHANGE COLUMN rating rating FLOAT",
        "CHANGE COLUMN release_date release_date DATE"
    ],
    "Theaters": [
        "CHANGE COLUMN theater_id theater_id VARCHAR(20)",
        "CHANGE COLUMN name name VARCHAR(200)",
        "CHANGE COLUMN location location VARCHAR(200)",
        "CHANGE COLUMN city city VARCHAR(100)",
        "CHANGE COLUMN state state VARCHAR(100)"
    ],
    "Screens": [
        "CHANGE COLUMN screen_id screen_id VARCHAR(20)",
        "CHANGE COLUMN screen_number screen_number INT",
        "CHANGE COLUMN total_seats total_seats INT"
    ],
    "Shows": [
        "CHANGE COLUMN show_id show_id VARCHAR(20)",
        "CHANGE COLUMN show_date show_date DATE",
        "CHANGE COLUMN start_time start_time TIME",
        "CHANGE COLUMN price_per_ticket price_per_ticket FLOAT",
        "CHANGE COLUMN available_seats available_seats INT"
    ],
    "Schedule": [
        "CHANGE COLUMN Schedule_id Schedule_id VARCHAR(20)",
        "CHANGE COLUMN show_id show_id VARCHAR(20)",
        "CHANGE COLUMN movie_id movie_id VARCHAR(20)",
        "CHANGE COLUMN theater_id theater_id VARCHAR(20)",
        "CHANGE COLUMN screen_id screen_id VARCHAR(20)"
    ],
    "Bookings": [
        "CHANGE COLUMN booking_id booking_id VARCHAR(20)",
        "CHANGE COLUMN booking_date booking_date DATETIME",
        "CHANGE COLUMN total_tickets total_tickets INT",
        "CHANGE COLUMN payment_status payment_status VARCHAR(20)"
    ],
    "Seats": [
        "CHANGE COLUMN seat_id seat_id VARCHAR(20)",
        "CHANGE COLUMN booking_id booking_id VARCHAR(20)",
        "CHANGE COLUMN screen_id screen_id VARCHAR(20)",
        "CHANGE COLUMN seat_number seat_number VARCHAR(10)",
        "CHANGE COLUMN seat_type seat_type VARCHAR(20)",
        "CHANGE COLUMN charges charges FLOAT",
        "CHANGE COLUMN status status VARCHAR(20)"
    ],
    "Payments": [
        "CHANGE COLUMN payment_id payment_id VARCHAR(20)",
        "CHANGE COLUMN payment_method payment_method VARCHAR(50)",
        "CHANGE COLUMN payment_date payment_date DATETIME",
        "CHANGE COLUMN transaction_status transaction_status VARCHAR(20)"
    ],
    "Reciepts": [
        "CHANGE COLUMN Reciept_id Reciept_id VARCHAR(20)",
        "CHANGE COLUMN booking_id booking_id VARCHAR(20)",
        "CHANGE COLUMN user_id user_id VARCHAR(20)",
        "CHANGE COLUMN show_id show_id VARCHAR(20)",
        "CHANGE COLUMN payment_id payment_id VARCHAR(20)"
    ],
    "Reviews": [
        "CHANGE COLUMN review_id review_id VARCHAR(20)",
        "CHANGE COLUMN user_id user_id VARCHAR(20)",
        "CHANGE COLUMN movie_id movie_id VARCHAR(20)",
        "CHANGE COLUMN rating rating FLOAT",
        "CHANGE COLUMN review_text review_text TEXT",
        "CHANGE COLUMN review_date review_date DATETIME"
    ]
}

for table, queries in dtype_fixes.items():
    for q in queries:
        try:
            cur.execute(f"ALTER TABLE {table} {q};")
            print(f"✅ {table}: {q}")
        except Exception as err:
            print(f"⚠️ Error in {table} ({q}): {err}")

# ----------------------
# Step 1: Primary Keys
# ----------------------
primary_keys = {
    "c_user": "user_id",
    "Movies": "movie_id",
    "Theaters": "theater_id",
    "Screens": "screen_id",
    "Shows": "show_id",
    "Bookings": "booking_id",
    "Seats": "seat_id",
    "Payments": "payment_id",
    "Reviews": "review_id",
    "Reciepts": "Reciept_id",
    "Schedule": "Schedule_id"
}

for table, pk in primary_keys.items():
    try:
        cur.execute(f"ALTER TABLE {table} ADD PRIMARY KEY ({pk});")
        print(f"✅ Primary key added to {table}.{pk}")
    except Exception as err:
        print(f"⚠️ Error adding PK on {table}.{pk}: {err}")

# ----------------------
# Step 2: Foreign Keys
# ----------------------
foreign_keys = [
    ("Schedule", "show_id", "Shows", "show_id"),
    ("Schedule", "movie_id", "Movies", "movie_id"),
    ("Schedule", "theater_id", "Theaters", "theater_id"),
    ("Schedule", "screen_id", "Screens", "screen_id"),

    ("Reciepts", "booking_id", "Bookings", "booking_id"),
    ("Reciepts", "user_id", "c_user", "user_id"),
    ("Reciepts", "show_id", "Shows", "show_id"),
    ("Reciepts", "payment_id", "Payments", "payment_id"),

    ("Seats", "booking_id", "Bookings", "booking_id"),
    ("Seats", "screen_id", "Screens", "screen_id"),

    ("Reviews", "user_id", "c_user", "user_id"),
    ("Reviews", "movie_id", "Movies", "movie_id")
]

for child, col, parent, ref in foreign_keys:
    try:
        cur.execute(f"""
            ALTER TABLE {child}
            ADD CONSTRAINT fk_{child}_{col}
            FOREIGN KEY ({col}) REFERENCES {parent}({ref});
        """)
        print(f"✅ Foreign key {child}.{col} → {parent}.{ref}")
    except Exception as err:
        print(f"⚠️ Error adding FK {child}.{col}: {err}")

# ----------------------
# Commit & Close
# ----------------------
conn.commit()
cur.close()
conn.close()

✅ c_user: CHANGE COLUMN user_id user_id VARCHAR(20)
✅ c_user: CHANGE COLUMN name name VARCHAR(100)
✅ c_user: CHANGE COLUMN email email VARCHAR(100)
✅ c_user: CHANGE COLUMN phone_number phone_number VARCHAR(15)
✅ c_user: CHANGE COLUMN date_of_birth date_of_birth DATE
✅ Movies: CHANGE COLUMN movie_id movie_id VARCHAR(20)
✅ Movies: CHANGE COLUMN title title VARCHAR(200)
✅ Movies: CHANGE COLUMN genre genre VARCHAR(50)
✅ Movies: CHANGE COLUMN language language VARCHAR(50)
✅ Movies: CHANGE COLUMN duration duration INT
✅ Movies: CHANGE COLUMN rating rating FLOAT
✅ Movies: CHANGE COLUMN release_date release_date DATE
✅ Theaters: CHANGE COLUMN theater_id theater_id VARCHAR(20)
✅ Theaters: CHANGE COLUMN name name VARCHAR(200)
✅ Theaters: CHANGE COLUMN location location VARCHAR(200)
✅ Theaters: CHANGE COLUMN city city VARCHAR(100)
✅ Theaters: CHANGE COLUMN state state VARCHAR(100)
✅ Screens: CHANGE COLUMN screen_id screen_id VARCHAR(20)
✅ Screens: CHANGE COLUMN screen_number screen_number INT
✅ Screens: CHANGE COLUMN total_seats total_seats INT
✅ Shows: CHANGE COLUMN show_id show_id VARCHAR(20)
✅ Shows: CHANGE COLUMN show_date show_date DATE
✅ Shows: CHANGE COLUMN start_time start_time TIME
✅ Shows: CHANGE COLUMN price_per_ticket price_per_ticket FLOAT
✅ Shows: CHANGE COLUMN available_seats available_seats INT
✅ Schedule: CHANGE COLUMN Schedule_id Schedule_id VARCHAR(20)
✅ Schedule: CHANGE COLUMN show_id show_id VARCHAR(20)
✅ Schedule: CHANGE COLUMN movie_id movie_id VARCHAR(20)
✅ Schedule: CHANGE COLUMN theater_id theater_id VARCHAR(20)
✅ Schedule: CHANGE COLUMN screen_id screen_id VARCHAR(20)
✅ Bookings: CHANGE COLUMN booking_id booking_id VARCHAR(20)
✅ Bookings: CHANGE COLUMN booking_date booking_date DATETIME
✅ Bookings: CHANGE COLUMN total_tickets total_tickets INT
✅ Bookings: CHANGE COLUMN payment_status payment_status VARCHAR(20)
✅ Seats: CHANGE COLUMN seat_id seat_id VARCHAR(20)
✅ Seats: CHANGE COLUMN booking_id booking_id VARCHAR(20)
✅ Seats: CHANGE COLUMN screen_id screen_id VARCHAR(20)
✅ Seats: CHANGE COLUMN seat_number seat_number VARCHAR(10)
✅ Seats: CHANGE COLUMN seat_type seat_type VARCHAR(20)
✅ Seats: CHANGE COLUMN charges charges FLOAT
✅ Seats: CHANGE COLUMN status status VARCHAR(20)
✅ Payments: CHANGE COLUMN payment_id payment_id VARCHAR(20)
✅ Payments: CHANGE COLUMN payment_method payment_method VARCHAR(50)
✅ Payments: CHANGE COLUMN payment_date payment_date DATETIME
✅ Payments: CHANGE COLUMN transaction_status transaction_status VARCHAR(20)
✅ Reciepts: CHANGE COLUMN Reciept_id Reciept_id VARCHAR(20)
✅ Reciepts: CHANGE COLUMN booking_id booking_id VARCHAR(20)
✅ Reciepts: CHANGE COLUMN user_id user_id VARCHAR(20)
✅ Reciepts: CHANGE COLUMN show_id show_id VARCHAR(20)
✅ Reciepts: CHANGE COLUMN payment_id payment_id VARCHAR(20)
✅ Reviews: CHANGE COLUMN review_id review_id VARCHAR(20)
✅ Reviews: CHANGE COLUMN user_id user_id VARCHAR(20)
✅ Reviews: CHANGE COLUMN movie_id movie_id VARCHAR(20)
✅ Reviews: CHANGE COLUMN rating rating FLOAT
✅ Reviews: CHANGE COLUMN review_text review_text TEXT
✅ Reviews: CHANGE COLUMN review_date review_date DATETIME
✅ Primary key added to c_user.user_id
✅ Primary key added to Movies.movie_id
✅ Primary key added to Theaters.theater_id
✅ Primary key added to Screens.screen_id
✅ Primary key added to Shows.show_id
✅ Primary key added to Bookings.booking_id
✅ Primary key added to Seats.seat_id
✅ Primary key added to Payments.payment_id
✅ Primary key added to Reviews.review_id
✅ Primary key added to Reciepts.Reciept_id
✅ Primary key added to Schedule.Schedule_id
✅ Foreign key Schedule.show_id → Shows.show_id
✅ Foreign key Schedule.movie_id → Movies.movie_id
✅ Foreign key Schedule.theater_id → Theaters.theater_id
✅ Foreign key Schedule.screen_id → Screens.screen_id
✅ Foreign key Reciepts.booking_id → Bookings.booking_id
✅ Foreign key Reciepts.user_id → c_user.user_id
✅ Foreign key Reciepts.show_id → Shows.show_id
✅ Foreign key Reciepts.payment_id → Payments.payment_id
✅ Foreign key Seats.booking_id → Bookings.booking_id
✅ Foreign key Seats.screen_id → Screens.screen_id
✅ Foreign key Reviews.user_id → c_user.user_id
✅ Foreign key Reviews.movie_id → Movies.movie_id